# .pylintrc
[FORMAT]
good-names=i,j,k,x,X,y,Y,df,X_train,X_val,X_test,y_train,y_val,y_test,X_processed,X_train_t,X_val_t,X_test_t

[BASIC]
ignored-argument-names=worker_id

[MORE]
# отключить слишком строгие правила при необходимости
disable=too-few-public-methods,too-many-locals